body {
    background-color: #f4f1f1;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
    color: #636363;
    font-size: 12px;
    text-align: center;
}

img {
    border: 0 none
}

.wrapper {
    margin: 0 auto;
    text-align: left;
    width: 600px;
}

.logo {
    text-align: center;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    color: #3B3B3B;
    font-size: 32px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

a, a:visited {
    color: #660e7b;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #111;
}

table {
    margin: 10px;
    padding: 10px;
    line-height: 1.5em;
    border: 1px solid #ccc;
    background: #fcfcfc
}

thead {
    font-size: 1.4em
}

td {
    padding-left: 14px;
    padding-right: 14px;
}

pre {
    margin: 10px;
    padding: 10px;
    line-height: 1.5em;
    background-color: #fafafa;
    border: 1px solid #cef6c9;
}

input, textarea {
    border: 1px solid #444;
}

.error, .errors {
    color: #d51a2c;
    font-weight: bold
}

.errors {margin-bottom: 10px}

.error input, 
.error textarea {
    background-color: #f4e5e6; 
    border: 1px solid #d51a2c}

.required:after {content: ' *'; color: #d51a2c; font-weight: bold}

.results {
	float: left;
}

.search_class {
	float: left
}
